doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title hp kart
  script(src='https://kit.fontawesome.com/533c9849ee.js' crossorigin='anonymous')
  link(rel='icon' href='./images/logo2.png' type='image/x-icon')
  link(rel='stylesheet' href='page1Style.css ')
  script(src='index.js')
header
  img(src='./images/logo2.png' alt='')
  h1 hp Kart
  .Search
    i.fa.fa-search
    input(type='text' placeholder='Search')
  .more(ondrag='show()')
    | more
    i.fa.fa-caret-down
  #login.more
    div
      a(href='') login
    i.fa.fa-user-circle
section.mainSection
  .electronics
    .heading Electronics
    .container
      #item1.item
        img(src='./images/e1.jpg' alt='')
        p
          a(href='e1.html')
            | Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor
        button
          a(href='e1.html') Buy Now
      #item2.item
        img(src='./images/e2.jpg' alt='')
        p
          a(href='e2.html') Noise ColorFit Ultra 2 with 1.78&quot; AMOLED Display, Best-in-Class Resolution
        button
          a(href='e2.html') Buy Now
      #item3.item
        img(src='./images/e3.jpg' alt='')
        p
          a(href='e3.html') boAt Bassheads 100 in Ear Wired Earphones with Mic(Black)
        button
          a(href='e3.html') Buy Now
      #item4.item
        img(src='./images/e4.jpg' alt='')
        p
          a(href='e4.html') Echo Dot (3rd Gen, Black) + Wipro 9W LED Smart Color Bulb combo  
        button
          a(href='e4.html') Buy Now
      #item5.item
        img(src='./images/e5.jpg' alt='')
        p
          a(href='e5.html') Canon EOS 1500D 24.1 Digital SLR Camera (Black) with EF S18-55 is II Lens
        button
          a(href='e5.html') Buy Now
  .clothing
    .heading Clothing
    .container
      #citem1.item.citem
        img(src='./images/c1.webp' alt='')
        p
          a(href='')
            | Raymond
            | Wool Blend Men&apos;s Full Sleeve Contemporary FIT Dark Blue
        button Buy Now
      #citem2.item.citem
        img(src='./images/c2.webp' alt='')
        p
          a(href='')
            | Integriti
            | mens TRACK SUIT
        button Buy Now
      #citem3.item.citem
        img(src='./images/c3.webp' alt='')
        p
          a(href='')
            | Yashika
            | Women&apos;s Art Silk Saree With Blouse Piece
        button Buy Now
      #citem4.item.citem
        img(src='./images/c4.webp' alt='')
        p
          a(href='')
            | Florely
            | Women&apos;s Anarkali Long Gown With Dupatta
        button Buy Now
      #citem5.item.citem
        img(src='./images/c5.webp' alt='')
        p
          a(href='')
            | AASK
            | Western Dresses for Women|Stylish Latest
        button Buy Now
  .Grocery
    .heading Grocery
    .container
      #gitem1.item.gitem
        img(src='./images/g1.webp' alt='')
        p
          a(href='') Maggi 2-Minute Noodles Masala, 70g (Pack of 12)
        button Buy Now
      #gitem2.item.gitem
        img(src='./images/g2.webp' alt='')
        p
          a(href='') Tata Sampann Unpolished Chana Dal, 1kg
        button Buy Now
      #gitem3.item.gitem
        img(src='./images/g3.webp' alt='')
        p
          a(href='') Aashirvaad Select Premium Sharbati Atta, 5kg
        button Buy Now
      #gitem4.item.gitem
        img(src='./images/g4.webp' alt='')
        p
          a(href='') Fortune Sunlite Refined Sunflower Oil, 1L
        button Buy Now
      #gitem5.item.gitem
        img(src='./images/g5.webp' alt='')
        p
          a(href='') Tata Salt, 1kg
        button Buy Now