<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hp kart</title>
    <script src="https://kit.fontawesome.com/533c9849ee.js" crossorigin="anonymous"></script>
    <link rel="icon" href="./images/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="page1Style.css ">
    <script src="index.js"></script>
</head>
<header><img src="./images/logo2.png" alt="">
    <h1>hp Kart</h1>
    <div class="Search"><i class="fa fa-search"></i><input type="text" placeholder="Search"></div>
    <div class="more" ondrag="show()">more<i class="fa fa-caret-down"></i></div>
    <div class="more" id="login">
        <div><a href="">login</a></div><i class="fa fa-user-circle"></i>
    </div>
</header>
<section class="mainSection">
    <div class="electronics">
        <div class="heading">Electronics</div>
        <div class="container">
            <div class="item" id="item1"><img src="./images/e1.jpg" alt="">
                <p><a href="e1.html">Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor</a></p><button><a href="e1.html">Buy Now</a></button>
            </div>
            <div class="item" id="item2"><img src="./images/e2.jpg" alt="">
                <p><a href="e2.html">Noise ColorFit Ultra 2 with 1.78&quot; AMOLED Display, Best-in-Class Resolution</a></p><button><a href="e2.html">Buy Now</a></button>
            </div>
            <div class="item" id="item3"><img src="./images/e3.jpg" alt="">
                <p><a href="e3.html">boAt Bassheads 100 in Ear Wired Earphones with Mic(Black)</a></p><button><a href="e3.html">Buy Now</a></button>
            </div>
            <div class="item" id="item4"><img src="./images/e4.jpg" alt="">
                <p><a href="e4.html">Echo Dot (3rd Gen, Black) + Wipro 9W LED Smart Color Bulb combo </a></p><button><a href="e4.html">Buy Now</a></button>
            </div>
            <div class="item" id="item5"><img src="./images/e5.jpg" alt="">
                <p><a href="e5.html">Canon EOS 1500D 24.1 Digital SLR Camera (Black) with EF S18-55 is II Lens</a></p><button><a href="e5.html">Buy Now</a></button>
            </div>
        </div>
    </div>
    <div class="clothing">
        <div class="heading">Clothing</div>
        <div class="container">
            <div class="item citem" id="citem1"><img src="./images/c1.webp" alt="">
                <p><a href="">Raymond
                        Wool Blend Men&apos;s Full Sleeve Contemporary FIT Dark Blue</a></p><button>Buy Now</button>
            </div>
            <div class="item citem" id="citem2"><img src="./images/c2.webp" alt="">
                <p><a href="">Integriti
                        mens TRACK SUIT</a></p><button>Buy Now</button>
            </div>
            <div class="item citem" id="citem3"><img src="./images/c3.webp" alt="">
                <p><a href="">Yashika
                        Women&apos;s Art Silk Saree With Blouse Piece</a></p><button>Buy Now</button>
            </div>
            <div class="item citem" id="citem4"><img src="./images/c4.webp" alt="">
                <p><a href="">Florely
                        Women&apos;s Anarkali Long Gown With Dupatta</a></p><button>Buy Now</button>
            </div>
            <div class="item citem" id="citem5"><img src="./images/c5.webp" alt="">
                <p><a href="">AASK
                        Western Dresses for Women|Stylish Latest</a></p><button>Buy Now</button>
            </div>
        </div>
    </div>
    <div class="Grocery">
        <div class="heading">Grocery</div>
        <div class="container">
            <div class="item gitem" id="gitem1"><img src="./images/g1.webp" alt="">
                <p><a href="">Maggi 2-Minute Noodles Masala, 70g (Pack of 12)</a></p><button>Buy Now</button>
            </div>
            <div class="item gitem" id="gitem2"><img src="./images/g2.webp" alt="">
                <p><a href="">Tata Sampann Unpolished Chana Dal, 1kg</a></p><button>Buy Now</button>
            </div>
            <div class="item gitem" id="gitem3"><img src="./images/g3.webp" alt="">
                <p><a href="">Aashirvaad Select Premium Sharbati Atta, 5kg</a></p><button>Buy Now</button>
            </div>
            <div class="item gitem" id="gitem4"><img src="./images/g4.webp" alt="">
                <p><a href="">Fortune Sunlite Refined Sunflower Oil, 1L</a></p><button>Buy Now</button>
            </div>
            <div class="item gitem" id="gitem5"><img src="./images/g5.webp" alt="">
                <p><a href="">Tata Salt, 1kg</a></p><button>Buy Now</button>
            </div>
        </div>
    </div>
</section>